* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}

/*INDEX PRODUCTOS */


.nav-link {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 150%
}




.header__index {
  height: 20vh;
}

.header__title {
  background-color: rgba(161, 193, 201, 0.699);
  padding: 40px;
}


main {
  width: 100%;
}



#card-group {
  width: 100%;
  display: flex;
  align-items:center;
}

.btn-floating{
  display: inline;
  font-size: 4vh;
  cursor: pointer;
  top: 80%;
  left: 85%;
  color: rgb(48, 183, 201);
  position: absolute;
}


.card {
  margin: 20px;
  
}
.card-image{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

img{
  width: 100%;
}


#cesta__carrito {
  border: none;
  color: rgb(65, 225, 225);
  font-size: 30px;
  background-color: rgb(255, 255, 255);
  transition: all .3s;
}

#contador-carrito {
  font-size: 20px;
  margin: 10px;
}


#cesta__carrito:hover {
  cursor: pointer;
  color: rgb(38, 145, 145);

}

#cesta__carrito:focus {
  outline: none;
}



footer {
  width: 100%;
  background-color: rgb(68, 62, 62);
}

/* // MODAL CARRITO */


.modal__contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal__active {
  opacity: 1;
  visibility: visible;
  z-index: 5;
}

.btn-modal{
  padding: 10px;
  border: none;
  border: solid 1px black;
  color: rgb(65, 225, 225);
  font-size: 100%;
  background-color: rgb(255, 255, 255);
  
}

.modal__carrito {
  position: relative;
  background-color: white;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all .5s;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

h3 {
  color: rgb(225, 76, 65);
  padding-bottom: 5px;
}

#btn-cerrar-carrito {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: rgb(225, 76, 65) !important;
  border: none;
  background-color: white;
}

#btn-cerrar-carrito:hover {
  cursor: pointer;
}

#btn-cerrar-carrito:focus {
  outline: none;
}

.producto-precio {
  padding-top: 10px;
}

.card .card-image .card-title {
  color: rgb(225, 76, 65);
  position: unset
}

.productoEnCarrito {
  border-left: 5px solid lightblue;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.productoEnCarrito:hover {
  border-left: 5px solid rgb(225, 76, 65);
}

.boton-eliminar {
  background-color: white;
  color: red;
  border: none;
  font-size: 20px;
}

.boton-eliminar:hover {
  cursor: pointer;
}

.boton-eliminar:focus {
  outline: none;
}




.modal__active .modal__carrito {
  margin-top: 0;
}


.comprar-active{
  opacity: 0;
  display:none;
  z-index: 5;
}


