* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Jura', sans-serif;
  
}

/*INDEX PRODUCTOS */


.navbar{
  background: rgba(58, 50, 81, 1);
  justify-content: space-around !important;
  gap: 60%;
}

.navbar h2{
  color: rgb(255, 251, 251);
  font-size:5vh;
}




#card-group {
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap: 4rem;
  margin: 5%;
}

.card-container{
  background:rgba(217, 217, 217, 1);
  padding: 30px;
  border-radius: 32px;
  box-shadow: 1px 1px 10px   rgba(58, 3, 109, 0.692);
}


.price{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  color:rgb(4, 129, 4);
}

.btn-add{
  text-decoration: none;
  cursor: pointer;
  color: rgba(53, 92, 191, 1);
  font-size:3vh
}

.card-image{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
}

img{
  width: 90%;
  margin: 10px;
  border-radius: 20px;
}


#cesta__carrito {
  border: none;
  color: rgb(255, 255, 255);
  font-size: 25px;
  background-color: transparent;
  transition: all .3s;
}

#contador-carrito {
  position: absolute;
  background-color: rgb(228, 0, 0);
  width: 20px;
  border-radius: 100%;
  margin-left:5px;
  font-size: 1.3vh;
  font-weight: bold
}


#cesta__carrito:hover {
  cursor: pointer;
  color: rgb(218, 218, 218);

}

#cesta__carrito:focus {
  outline: none;
}



footer {
  height: 15vh;
  background-color: rgba(58, 50, 81, 1);
}

.social{
  padding-top:20px;

  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
  
}
.social a{
  color: rgb(255, 255, 255);
}

/* // MODAL CARRITO */


.modal__contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.3);
}
/* visibility: visibilidad del modal */
.modal__active {
  opacity: 1;
  visibility: visible;
  z-index: 5;
}

.btn-modal{
  padding: 10px;
  border: none;
  border: solid 1px black;
  color: rgb(65, 225, 225);
  font-size: 100%;
  background-color: rgb(255, 255, 255);
  
}

.modal__carrito {
  position: relative;
  background-color: white;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all .5s;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

h3 {
  color: rgb(225, 76, 65);
  padding-bottom: 5px;
}

#btn-cerrar-carrito {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: rgb(225, 76, 65) !important;
  border: none;
  background-color: white;
}

#btn-cerrar-carrito:hover {
  cursor: pointer;
}

#btn-cerrar-carrito:focus {
  outline: none;
}

.producto-precio {
  padding-top: 10px;
}

.card .card-image .card-title {
  color: rgb(225, 76, 65);
  position: unset
}

.productoEnCarrito {
  border-left: 5px solid lightblue;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.productoEnCarrito:hover {
  border-left: 5px solid rgb(225, 76, 65);
}

.boton-eliminar {
  background-color: white;
  color: red;
  border: none;
  font-size: 20px;
}

.boton-eliminar:hover {
  cursor: pointer;
}

.boton-eliminar:focus {
  outline: none;
}




.modal__active .modal__carrito {
  margin-top: 0;
}

/* display none visibilidad de comprar y pagar */
.comprar-active{
  opacity: 0;
  display:none;
  z-index: 5;
}

.opcionesPago .active {
  display: none;
}


@media screen and  (max-width:1200px){
  
#card-group {
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap: 4rem;
  margin: 5%;
}

}

@media screen and  (max-width:600px){
  
  #card-group {
    display:grid;
    grid-template-columns:repeat(1,1fr);
    gap: 4rem;
    margin: 5%;
  }
  .navbar{
    background: rgba(58, 50, 81, 1);
    justify-content: space-around !important;
    gap: 30%;
  }
}