* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

.body__login {
    background-color: rgb(94, 1, 1);

    .main__login {
        width: 100%;
        padding: 20px;
        margin: auto;
        margin-top: 100px;

        .contenedor__todo {
            width: 100%;
            max-width: 800px;
            margin: auto;
            position: relative;

            .bg__contenedor {
                width: 100%;
                padding: 10px 20px;
                display: flex;
                justify-content: center;
                backdrop-filter: blur (10px);
                background-color: rgb(243, 71, 71);

                div {
                    margin: 100px 30px;
                    color: rgb(255, 255, 255);
                    transition: all 500ms;

                    h1,
                    h2 {
                        font-weight: 400;
                        font-size: 26px
                    }

                    button {
                        padding: 10px 40px;
                        border: 2px solid rgb(255, 255, 255);
                        background: transparent;
                        font-weight: 600;
                        cursor: pointer;
                        color: rgb(255, 255, 255);
                        outline: none;
                        transition: all 300ms;
                    }

                    button:hover {
                        backdrop-filter: blur(10px);
                        background-color: rgba(255, 255, 255, 0.527);
                        color: rgba(0, 0, 0, 0.671);
                    }

                    p,
                    button {
                        margin-top: 30px;

                    }
                }
            }
        }
    }
}

// FORMULARIOS

.contenedor__login-register {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 430px;
    position: relative;
    top: -185px;
    left: 10px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275 );

    form {
        width: 100%;
        padding: 80px 20px;
        background-color: rgb(255, 253, 253);
        position: absolute;
        border-radius: 20px;

        p {
            font-size: 30px;
            text-align: center;
            margin-bottom: 20px;
            font-weight: bold;
            color: rgb(150, 50, 50);
        }

        input {
            width: 100%;
            margin-top: 20px;
            padding: 10px;
            border: none;
            background: rgb(189, 188, 188);
            font-size: 16px;
            outline: none;
        }

        button {
            padding: 10px 40px;
            margin-top: 40px;
            border: none;
            font-size: 14px;
            background: rgb(150, 50, 50);
            color: rgb(255, 255, 255);
            cursor: pointer;
            outline: none;
        }
    }

    .formulario__login {
        opacity: 1;
        display: block;
    }

    .formulario__register {
        display: none;
    }
}

// Responsive login
@media screen and (max-width: 850px) {
    .main__login {
        margin-top: 50px;

        .bg__contenedor {
            max-width: 350px;
            height: 300px;
            flex-direction: column;
            margin: auto;
            div{
                margin: 0px;
                position:absolute;
            }
        }
    }

    // Form
    .contenedor__login-register{
        top: -10px;
        left: -5px;
        margin: auto;
        form{
            position:relative;
        }
    }
}

// INDEX PRODUCTOS
    .header_index {
        height: 20vh;

        .header_title {
            background-color: rgb(175, 51, 51);

        }
    }

    main {
        
        width: 100%;
    }

    .cards {

        #card-group {
            display: flex;
            
            .card {
                margin: 20px;
                
            }
        }
    }

    #carrito {
        border: 1px solid;
        border-color: red;
    }

    footer {
        width: 100%;
        background-color: rgb(68, 62, 62);
    }